* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

ul {
    list-style-type: none;
}

.main-container {
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    padding-right: 2rem;
    gap: 3rem;
}

nav>ul {
    display: grid;
    gap: 1rem;
}

li>img {
    padding-right: 0.2rem;
}

.header {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.main {
    display: grid;
    grid-template-rows: 1fr auto;
}

.user-navigation {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

.search-profile {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 1rem;
}

.action-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.user-profile {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.action-buttons {
    align-self: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.dashboard {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.dashboard-sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
